body {
  background-color: #111016;
  font-family: 'Patrick Hand', cursive;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.episode-code {
  text-align: center;
}

.single-card {
  border: white 2px solid;
  height: 450px;
  overflow: scroll;
  margin: 20px;
}

.titel {
  text-align: center;
  font-size: 23px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.summary {
  text-align: justify;
  margin: 16px;
  font-size: 17px;
}